<ul class="main-navigation">
  <li><a href="{{ root_url }}/home">Home</a></li>
  <li><a href="{{ root_url }}/blog">Blog</a></li>
  <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
  <li><a href="{{ root_url }}/research">Research</a>
  <ul>
    <li><a href="{{ root_url }}/research/saving-energy">Saving Energy</a></li>
    <li><a href="{{ root_url }}/research/recovering-recycling-energy">Recovering/recycling Energy</a></li>
    <li><a href="{{ root_url }}/research/sustainable-energy">Sustainable Energy</a></li>
  </ul>
  </li>
  <li><a href="{{ root_url }}/conferences">Conferences</a>
  <li><a href="{{ root_url }}/documents">Documents</a></li>
  <li><a href="{{ root_url }}/links">Links</a></li>
  <li><a href="{{ root_url }}/contacts">Contacts</a></li>
</ul>
